@import "bootstrap";
@import "../scss/components/header.scss";
@import "../scss/pages/index.scss";
@import "../scss/pages/nosotros.scss";
@import "../scss/pages/productos.scss";
@import "../scss/pages/contacto.scss";
@import "../scss/pages/noticias.scss";

* {
    margin: 0%;
    padding: 0%;
}

body {
    background: rgb(121,121,121);
    background: radial-gradient(circle, rgba(121,121,121,1) 1%, rgba(37,35,35,1) 53%, rgba(1,1,1,1) 100%);
    font-family: 'Goldman', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Smooch Sans', sans-serif;
}